<h1><%=@user.full_name%></h1>
<h3><label>Attack Power</label></h3>
<%=@user.attack_power%>
<h3><label>Defense Power</label></h3>
<%=@user.defense_power%>
<h3><label>Dragons</label></h3>
<ul>
  <%@user.dragons.each do |dragon|%>
  <li><%= link_to dragon.name.capitalize, dragon %></li>
  <% end %>
</ul>
<br>
<br>
<button><%=link_to'Edit Profile', edit_user_path %></button>
<br>
<button><%= link_to 'Delete Profile', @user, method: :delete, data: { confirm: 'Are you sure you wan to destroy this master?'}%></button>
<br>
<button><%= link_to 'Back To All Users', users_path%></button>
